<!DOCTYPE html >
<html lang="en" ng-app="App">
<head>
    <title>Awedash</title>
    <link href="libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="libs/ladda/dist/ladda-themeless.min.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://use.fontawesome.com/4230b2d0bb.css">
</head>

<body  style="height: calc(100vh - 41px);">
<nav class="navbar navbar-inverse navbar-fixed-top nav-awe">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="img/logo.png" style="width: 50px; float: left"> <a class="navbar-brand" href="#">Awedash</a>
        </div>
    </div>
    <div class="awe-borderline-gradient-animated"></div>
</nav>

<div class="container-fluid main-content" ng-controller="MinMaxCtrl" style="height: 100%; padding: 0px;">
    <!--<div class="row">-->
        <!--<input name="teste" placeholder="tente" ng-model="twitchNames">-->
        <!--<button ng-click="search()">Search</button>-->
        <!--<button ng-click="twitch()">Twitch</button>-->
        <!--&lt;!&ndash;<pre>{{ twitchService }}</pre>&ndash;&gt;-->
    <!--</div>-->
    <div class="row" style="height: 100%; margin: 0px;">
        <div class="twitch-widget widget-awe" title="Twitch" streams="twitchService.streams"></div>
        <div class="reddit-widget widget-awe" ng-repeat="data in redditService.data" title="{{ data.subreddit }}" posts="data.children" new-posts="data.newPosts" subreddit="{{ data.subreddit }}" after="data.after" topic="{{data.topic}}"></div>
    </div>
</div>

<script src="libs/jquery/jquery.js"></script>
<script src="libs/angular/angular.min.js"></script>
<script src="libs/angular-auto-validate/dist/jcs-auto-validate.min.js"></script>
<script src="libs/ladda/dist/spin.min.js"></script>
<script src="libs/ladda/dist/ladda.min.js"></script>
<script src="libs/angular-ladda/dist/angular-ladda.min.js"></script>
<script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
<script src="libs/restangular/restangular.min.js"></script>
<script src="libs/angular-timeago-master/dist/angular-timeago-core.min.js"></script>
<script src="libs/angular-timeago-master/src/languages/time-ago-language-en_US.js"></script>
<script src="libs/ngInfiniteScroll/ng-infinite-scroll.min.js"></script>

<script src="App/Constants/twitch.js"></script>

<script src="App/app.js"></script>
<script src="App/Services/TwitchService/TwitchRestangular.js"></script>
<script src="App/Services/TwitchService/TwitchService.js"></script>
<script src="App/Services/RedditService/RedditRestangular.js"></script>
<script src="App/Services/RedditService/RedditService.js"></script>
<script src="App/Directives/Reddit/redditFeedItem.js"></script>
<script src="App/Directives/Reddit/redditWidget.js"></script>
<script src="App/Directives/Twitch/twitchFeedItem.js"></script>
<script src="App/Directives/Twitch/twitchWidget.js"></script>


</body>
</html>
