body {
    padding-top: 50px;
    background-color: #181818;
}

body a {
    color: #fff;
}

body a:hover {
    color: #333;
    text-decoration: none;
}

body a:visited {
    color: #777;
    text-decoration: none;
}

.nav-awe {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#020c0b+1,05000c+100 */
    background: #020c0b; /* Old browsers */
    background: -moz-linear-gradient(left, #020c0b 1%, #05000c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #020c0b 1%, #05000c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #020c0b 1%, #05000c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#020c0b', endColorstr='#05000c', GradientType=1); /* IE6-9 */
}

.main-content {
    padding: 15px 15px;
}

.stream-username {
    margin-right: 10px;
    max-width: calc(100% - 143px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
}

.widget-awe {
    width: 330px;
    background-color: #222;
    /* margin-left: 24px; */
    /* margin-top: 24px; */
    float: left;
    border-right: 3px solid #181818;
    height: 100%;
}

.widget-list-group {
    width: 100%;
    margin-bottom: 0px;
    background-color: #222;
    padding: 0px;
}

.widget-list-item {
    padding: 10px;
    list-style-type: none;
    border-bottom: 1px solid #181818;
}

.widget-list-item:hover {
    background-color: #181818;
}

.widget-list-item-container {
    padding: 10px 0px;
    display: -webkit-box;
    color: white;
    vertical-align: middle;
}

.widget-title-awe {
    background-color: #222;
    height: 40px;
    width: 100%;
    line-height: 40px;
    color: #fff;
    /*display: flex;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#020c0b+1,05000c+100 */
    background: #020c0b; /* Old browsers */
    background: -moz-linear-gradient(left, #020c0b 1%, #05000c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #020c0b 1%, #05000c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #020c0b 1%, #05000c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#020c0b', endColorstr='#05000c', GradientType=1); /* IE6-9 */
}

.widget-title-text {
    padding-left: 10px;
    font-size: 16px;
    font-weight: 700;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 40px);
}

.widget-title-icons {
    float: right;
    padding-right: 10px;
}

.widget-title-icons i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.widget-title-icons i:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.awe-borderline-gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#29f2eb+1,42078c+100 */
    background: #29f2eb; /* Old browsers */
    background: -moz-linear-gradient(left, #29f2eb 1%, #42078c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #29f2eb 1%, #42078c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #29f2eb 1%, #42078c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#29f2eb', endColorstr='#42078c', GradientType=1); /* IE6-9 */
    height: 1px;
}

.awe-borderline-gradient-animated {
    height: 1px;
    background: linear-gradient(270deg, #42078c, #29f2eb);
    background-size: 400% 400%;

    -webkit-animation: AweBorderlineAnimationName 10s ease infinite;
    -moz-animation: AweBorderlineAnimationName 10s ease infinite;
    -o-animation: AweBorderlineAnimationName 10s ease infinite;
    animation: AweBorderlineAnimationName 10s ease infinite;
}

@-webkit-keyframes AweBorderlineAnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 51%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AweBorderlineAnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 51%
    }
    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes AweBorderlineAnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 51%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes AweBorderlineAnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 51%
    }
    100% {
        background-position: 0% 50%
    }
}

.widget-item-max-title {
    margin-right: 10px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
    margin-bottom: 3px;
    font-size: 12px;
}

.widget-reddit-flair {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    font-size: 10px;
    margin-bottom: 3px;
}

.scroller::-webkit-scrollbar {
    width: 5px;
    height: 12px;
}

.scroller::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

.scroller::-webkit-scrollbar-thumb {
    background: #555;
    visibility: hidden;
}

.scroller:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.scroller {
    overflow-y: scroll;
    height: 100%;
    padding: 0px;
    background-color: #222;
}

.reddit-thumbsup, .reddit-thumbsdown {
    cursor: pointer;
}

.reddit-thumbsup:hover {
    color: forestgreen;
}

.reddit-thumbsdown:hover {
    color: red;
}

.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}

.img-circle {
    border-radius: 50%;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.widget-list-item-img-50-50 {
    width: 50px;
    height: 50px;
}

.widget-list-item-img-container {
    width: 70px;
    padding-left: 10px;
    line-height: 50px;
    height: 50px;
    padding-top: 5px;
}

.widget-new-posts {
    width: 300px;
    background-color: red;
    position: relative;
    left: calc(50% - 150px);
    text-align: center;
    color: white;
    font-weight: 700;
    border-radius: 45px;
    height: 25px;
    line-height: 25px;

    -webkit-animation: pulseRed 3s ease infinite;
    -moz-animation: pulseRed 3s ease infinite;
    -o-animation: pulseRed 3s ease infinite;
    animation: pulseRed 3s ease infinite;
}

.widget-notification-show {
    z-index: 2;
    top: 100px;
    position: absolute;
    width: 330px;
    display: -webkit-box;
    cursor: pointer;

    -webkit-animation: slidein 1s ease;
    -moz-animation: slidein 1s ease;
    -o-animation: slidein 1s ease;
    animation: slidein 1s ease;
}

@keyframes slidein {
    from {
        top: 26px;
    }

    to {
        top: 100px;
    }
}

@keyframes slideout {
    0% {
        top: 100px;
        display: -webkit-box;
    }
    99% {
        top: 26px;
        display: -webkit-box;
    }
    100% {
        top: 26px;
        display: none;
    }
}

@keyframes pulseRed {
    0% {
        box-shadow: 0px 0px 10px red;
    }
    100% {
        box-shadow: 0px 0px 0px red;
    }
}

.widget-notification-hide {
    top: 26px;
    position: absolute;
    width: 330px;
    display: none;

    -webkit-animation: slideout 1s ease;
    -moz-animation: slideout 1s ease;
    -o-animation: slideout 1s ease;
    animation: slideout 1s ease;
}

.widget-menu {
    height: 100%;
    width: 100%;
}

.widget-menu.menu-show {
    display: block;
}

.widget-list-group.menu-show {
    display: none;
}

.widget-menu.menu-hide {
    display: none;
}

.widget-list-group.menu-hide {
    display: block;
}

.widget-menu-content {
    margin: 20px;
    color: #777;
}

.widget-menu-item {
    text-transform: capitalize;
    margin-top: 5px;
    font-weight: 700;
    color: white;
    font-size: 17px;
    cursor: pointer;
}