<div class="widget-title-awe">
    <div class="widget-title-text"><i class="fa fa-reddit-alien" aria-hidden="true" style="margin-right: 10px"></i>
        {{data.subreddit}} - <span style="text-transform: capitalize;">{{data.topic}}</span>
    </div>
    <div class="widget-title-icons"><i class="fa fa-ellipsis-v" aria-hidden="true" ng-click="triggerMenu()"></i></div>
</div>
<div class="awe-borderline-gradient-animated"></div>
<div class="scroller" id="{{ randomId }}">
    <div ng-class="(data.newPosts.length > 0) && (!showMenu)  ? 'widget-notification-show' : 'widget-notification-hide'" ng-click="showNotification(randomId)">
        <div class="widget-new-posts">{{ data.newPosts.length }} New Posts</div>
    </div>
    <ul class="widget-list-group"  ng-class="showMenu ? 'menu-show':'menu-hide'" infinite-scroll="pagination()" infinite-scroll-distance="0.5" infinite-scroll-parent>
        <li class="widget-list-item" ng-repeat="post in data.children">
            <div class="row" style="margin: -10px;">
                <reddit-feed-item post="post"></reddit-feed-item>
            </div>
        </li>

        <div class="spinner" ng-show="loading">
            <span us-spinner="{radius:5, width:3, length:3, lines:9, color:'#fff'}" class="span-spinner"></span>
            <p style="margin: 10px 0px;">Loading...</p>
        </div>
    </ul>
    <div class="widget-menu" ng-class="showMenu ? 'menu-show':'menu-hide'">
        <div class="widget-menu-content">
            <div class="widget-menu-item" ng-repeat="item in topics" ng-click="changeTopic(item)">{{ item }}</div>
        </div>
    </div>
</div>